hr{
   
    border-color: #fff;
    width: 100%;
}
#summary {
    text-indent: 50px;
    font-size: 14px;
}
.hidden{
    display: None;
}

#transaction-form, .form-control{
    height: 100% !important;
}
#amount {
    border: 1px solid black;
}
th {
    background: #3f3f3f;
    color: white;
}