#summary{
    justify-content: space-between ;
}

thead{
    background-color: #4d4d4d;
    color: white;
}
.hidden {
    display: none;
}

.transaction-form input{
    margin: 5px;
    width: 40%;
}
.transaction-form button{
    border-radius: 5px;
    padding: 5px;
}
#amount{
    border: solid black 1px;
    max-width: 100px;
    margin-right: 25px;
    padding-left: 0px;
}
#transaction_type{
    list-style: NONE;
    background-color: #ffffff00 !important;
    margin-top: -2rem;
    display: inline-block;
    
}