{% extends 'base-home.html' %}
{% block links %}
<link rel="stylesheet" href="/static/stylesheets/stock-details.css">
{% endblock %}

{% block content %}
<div class="hidden" id="stock-id" data-id="{{stock.id}}"></div>

<div class="row h-100 bg-dark p-5">
    <h3 class="display-5 text-light mb-2"><b>{{ stock.name }} ({{ stock.stock_symbol}})</b></h3>
    <hr class="p-3 m-0">

    <div class="col-8 ">
        <p class="text-light" id="summary">
            {{data['summaryProfile']['longBusinessSummary']}}
        </p>

    </div>
    <div class="col-2">
        <h4 class="display-5 text-light">Details</h4>
    </div>
    <div class="col-12">
        <div class="accordion" id="accordion">
            <div class="card">
                <div class="card-header" id="heading">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#dataCollapse" id="get-data">
                            Show All Data about this company
                        </button>
                    </h2>
                </div>
                <div id="dataCollapse" class="collapse " data-parent="#accordion">
                    <div class="card-body">
                        <ul id="all-data">

                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>


{% endblock %}
{% block scripts %}
    <script src="/static/scripts/stock-details.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}