{% extends 'base-home.html' %}
{% block links %} {% endblock %}

{% block content %}


<div class="row h-100">
    <div class="col-12 my-5">
        <div class="jumbotron bg-dark py-5 my-0">
            <h3 class="display-5 ml-5 pl-5 pb-2 text-light">Search stocks by symbol or name</h3>
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

                <button class="btn btn-dark p-0" type="submit"><i class="fa fa-search text-light fa-lg"
                        aria-hidden="true"></i></button>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>

        <div class="container-fluid my-0 py-3 bg-light">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}

{% endblock %}