{% extends 'base.html' %}

{% block page_class %}home-anon{% endblock %} 


{% block content %}
<section class="home-content full-size">
    <div class="container-fluid h-100 fill ">
        <div class="row h-100 justify-content-center mb-0">
            <div class="col-3 col-s-4 col-md-5 p-5 m-auto justify-content-center blue ">
                <div class="container-fluid justify-content-center align-items-center ">
                    <h3 class="display-5">
                        Hello! Welcome to the <span class="name-text">Stock-Game</span>
                    </h3>
                    <div class="contianer-fluid">
                        <div class="row">
                            <div class="col-6">
                                <a href="/login" class="btn btn-outline-primary btn-block border border-light text-light" id="see-more">
                                    <span>Login</span>
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="/signup" class="btn btn-outline-primary btn-block border border-light text-light" id="see-more">
                                    <span>Signup</span>
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}