{% extends 'base-home.html' %}
{% block content %}
<h2 class="display-5 px-2 text-align-center pb-3" id="section-header">Portfolio Summary</h2>
<div class="row">
  <div class="col-8">
    <div class="container-fluid" id="home-section">
      <h5 class="display-5" id="section-header">Owned Stocks:</h5>
      <hr>
      <div class="stock-list">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Symbol</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in owned_stocks %}
            <tr>
              <th scope="row"><a href="/stocks/{{stock.id}}">{{stock.name}}</a></th>
              <td>{{stock.stock_symbol}}</td>
              <td>{{stock.share_price}}</td>
              <td>{{stock.Owned_Stock.quantity}}</td>
              <td>{{stock.share_price * stock.Owned_Stock.quantity}}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="container-fluid" id="home-section">
      <div class="row">
        <h5 class="display-5 m-3" id="section-header">User Rankings</h5>
        <hr>
        <div class="user-list">
          <table class="table table-striped details p-3 m-3 mr-5">
            <thead>
              <tr>
                <th>Ranking</th>
                <th>Username</th>
                <th>Total Asset Value</th>
              </tr>
            </thead>
            <tbody>
              {% set count=1 %}
              {% for user in users_list %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{user.username}}</td>
                <td>{{user.total_asset_value + user.current_money}}</td>
              </tr>
              {% set count=count+1 %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1"></div>
  <div class="col-10 mt-3">
    <div class="container-fluid" id="home-section">
      <h5 class="display-5" id="section-header">Transaction History:</h5>
      <hr>
      <div class="transaction-list">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Stock</th>
              <th scope="col">Date</th>
              <th scope="col">Quantity</th>
              <th scope="col">Value at Transaction Time</th>
              <th scope="col">Transaction Type</th>
            </tr>
          <tbody>

            {% for transaction in transactions %}
            <tr>
              <td>{{transaction.stock_symbol}}</td>
              <td>{{transaction.time}}</td>
              <td>{{transaction.quantity}}</td>
              <td>{{transaction.stock_value_at_time}}</td>
              <td>
                {% if transaction.is_purchase == True %}
                Buy
                {% else %}
                Sell
                {% endif %}
              </td>
            </tr>
            {% endfor %}

          </tbody>
      </div>
    </div>
  </div>
</div>
{% endblock %}