

{% extends 'base-home.html' %}

{% block links %} <link rel="stylesheet" href="/static/stylesheets/user-edit.css">{% endblock %}
{% block page_class %} user-form {% endblock %}

{% block content %}


<div class="row d-flex justify-content-center align-items-center user-form-contianer mt-1">
    <div class="col-md-7 col-lg-5">
        <div class="user-form-container">
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}
            
                {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                  <label for="{{field.name}}" class="pt-2">{{field.label.text}}</label>
                  {{ field(class="form-control") }}
                {% endfor %}
            
                <p class="pt-2">To confirm changes, enter your password:</p>
                {% if form.password.errors %}
                  {% for error in form.password.errors %}
                    <span class="text-danger">
                    {{ error }}
                  </span>
                  {% endfor %}
                {% endif %}
                {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
            
                <div class="edit-btn-area pt-2">
                  <button class="btn btn-success">Edit this user!</button>
                  <a href="/users/{{ user_id }}" class="btn btn-outline-light">Cancel</a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}